@import "tailwindcss";

@theme {
  --font-serif: var(--font-crimson-pro), serif;
  --default-font-family: var(--font-serif);
}

@layer base {
  body,
  html {
    @apply h-full;
  }
}

@utility animate-spin-slow {
  @apply animate-spin;
  animation-duration: 60s;
}
